[submodule "firmware/stm32mp1-baremetal"]
	path = firmware/stm32mp1-baremetal
	url = git@github.com:4ms/stm32mp1-baremetal.git
[submodule "firmware/igb_sdk"]
	path = firmware/igb_sdk
	url = git@github.com:centrevillage/igb_sdk.git
